body{
    text-align: center;
    background-color: rgb(213, 198, 223);
}
h1{
    font-size:4rem;
    color: rgb(145, 68, 68);
    font-family: "Arvo",cursive;
    text-shadow: 3px 0 gainsboro;
}

.b{
    background-image: url("Animal Images/birds.jpg");
    
}
.h{
    background-image: url("Animal Images/horse.jpg");

}
.c{
    background-image: url("Animal Images/cat.jpg");
}
.w{
    background-image:url("Animal Images/wolf.jpg") ;
}

.set{
    margin:10% auto;
}

.pressed{
    box-shadow: 0 3px 4px 0 darkgoldenrod;
opacity: 0.5;
}